<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/cover.css">
    <title>404 Not Found</title>
    <!-- Bootstrap CSS -->
</head>
<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Everkit Framework</h3>
                    <nav class="nav nav-masthead">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link" href="/posts">All posts</a>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="display-1">404</h1>
                <p class="lead display-4">Not Found :(</p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    &copy; Everkit Framework 2017
                </div>
            </div>

        </div>

    </div>

</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
</body>
</html>