{% extends "layouts/main.html.twig" %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">All posts of {{ author.getName() }}!</h1>
        </div>
    </div>

    {% for post in author.posts %}
        <div class="card" style="margin-bottom: 1rem;">
            <h6 class="card-header">Post #{{ post.id }}</h6>
            <div class="card-block">
                <h4 class="card-title">{{ post.title }}</h4>
                <p class="card-text">{{ post.text }}</p>
                <a href="/post/{{post.id}}" class="btn btn-primary">Read more</a>
            </div>

            {% if post.author.firstname is defined %}
                <div class="card-footer">Author:
                    <a href="/author/{{ post.author.id }}">{{ post.author.getName() }}</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}