{% extends "layouts/main.html.twig" %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            {% if user and user.getLogin() %}
                <h1 class="display-4">Hello, {{ user.getLogin() }}, it's a Everkit Framework!</h1>
            {% else %}
                <h1 class="display-3">Hello, Everkit Framework!</h1>
            {% endif %}
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="/posts" role="button">View all posts &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h1 class="display-4">Registered components:</h1>
        </div>
        <!-- Example row of columns -->
        <div class="row">
            {% for key, component in components %}
                <div class="col-sm-6">
                    <div class="card" style="margin-top: 1rem">
                        <div class="card-header">
                            <h5>{{ key }}</h5>
                        </div>
                        <div class="card-block">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Class</th>
                                        <td>{{ component.class }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div> <!-- /container -->
{% endblock %}