{% extends "layouts/global.html.twig" %}

{% block main %}
    {% include "layouts/navbar.html.twig" %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                    <!-- Main jumbotron for a primary marketing message or call to action -->
                    <div class="jumbotron">
                        <div class="container">
                            <h1 class="display-3">All posts!</h1>
                            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                        </div>
                    </div>
                    {% for post in posts %}
                        <div class="card" style="margin-bottom: 1rem;">
                            <h6 class="card-header">
                                <a href="/post/{{post.id}}">Post #{{ post.id }}</a>
                            </h6>
                            <div class="card-block">
                                <h4 class="card-title">{{ post.title }}</h4>
                                <p class="card-text">{{ post.text }}</p>
                                <a href="/post/{{post.id}}" class="btn btn-primary">Read more</a>
                            </div>

                            {% if post.author.firstname is defined %}
                                <div class="card-footer">Author:
                                    <a href="/author/{{ post.author.id }}">{{ post.author.getName() }}</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div style="float: right;">
                        {{ widget('pagination', {'perPage': 10}) }}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}