{% extends "layouts/main.html.twig" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Post #{{ post.id }}</h1>
    </div>
</div>

<div class="card" style="margin-bottom: 1rem;">
    <div class="card-block">
        <h4 class="card-title">{{ post.title }}</h4>
        <p class="card-text">{{ post.text }}</p>
    </div>
    {% if post.author.getName() is defined %}
        <div class="card-footer">Author:
            <a href="/author/{{ post.author.id }}">{{ post.author.getName() }}</a>
        </div>
    {% endif %}
</div>
{% endblock %}