{% if getFlashes().success %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>{{ getFlashes().success }}</p>
    </div>
{% endif %}

{% if getFlashes().error %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Oops!</h4>
        <p>{{ getFlashes().error }}</p>
    </div>
{% endif %}

{% if getFlashes().info %}
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Attention!</h4>
        <p>{{ getFlashes().info }}</p>
    </div>
{% endif %}

{# FOR MANY FLASHES #}

{% if getFlashes().successes %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <hr>
        <ul>
            {% for success in getFlashes().successes %}
                <li>{{ success }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if getFlashes().errors %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Oops!</h4>
        <hr>
        <ul>
            {% for error in getFlashes().errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if getFlashes().infos %}
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Attention!</h4>
        <hr>
        <ul>
            {% for info in getFlashes().infos %}
                <li>{{ info }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}