{% extends "layouts/global.html.twig" %}

    {% block main %}

    {% include "layouts/navbar.html.twig" %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% block footer %}
        <footer>
            <div class="container">
                <hr>
                <p>&copy; Everkit Framework 2017</p>
            </div>
        </footer>
    {% endblock %}

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
{% endblock %}