<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Everkit Framework</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if '/' is currentURI %}active{% endif %}">
                <a class="nav-link" href="/">Home {% if '/' is currentURI %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item {% if '/posts' is currentURI %}active{% endif %}">
                <a class="nav-link" href="/posts">All posts {% if '/' is currentURI %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
        </ul>
        <ul class="navbar-nav pull-right">
            {% if not isGuest() %}
                <li class="nav-item {% if '/admin' is currentURI %}active{% endif %}">
                    <a href="/admin" class="nav-link">Admin panel</a>
                </li>
                <li class="nav-item {% if '/admin/logout' is currentURI %}active{% endif %}">
                    <a href="/admin/logout" class="nav-link">Logout</a>
                </li>
            {% else %}
                <li class="nav-item {% if '/admin/login' is currentURI %}active{% endif %}">
                    <a href="/admin/login" class="nav-link">Sign in</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>