{% extends "layouts/main.html.twig" %}

{% block content %}
    <ol class="breadcrumb" style="margin-top: 1rem">
        <li class="breadcrumb-item">Admin Panel</li>
        <li class="breadcrumb-item"><a href="/admin">All posts</a></li>
        {% if post.isNewRecord() %}
            <li class="breadcrumb-item active">Add new post</li>
        {% else %}
            <li class="breadcrumb-item active">Edition post #{{ post.id }}</li>
        {% endif %}
    </ol>

    <div class="jumbotron">
        <div class="container">
            {% if post.isNewRecord() %}
                <h1 class="display-4">Add new post</h1>
            {% else %}
                <h1 class="display-4">Edition an article #{{ post.id }}!</h1>
                <span style="float: right"><a target="_blank" class="btn btn-primary" href="/post/{{ post.id }}" role="button">View this post &raquo;</a></span>
            {% endif %}
        </div>
    </div>

    {% include "flashes.html.twig" %}

    <div class="card" style="margin-bottom: 1rem;">
        <div class="card-block">
            {% if post.isNewRecord() %}
                <form method="post" action="/admin/edit-post/0">
            {% else %}
                <form method="post">
            {% endif %}
                <div class="form-group">
                    <label for="postTitle">Article title</label>
                    <input name="Post[title]" type="text" class="form-control" id="postTitle" placeholder="Post title" value="{{ post.title }}">
                    <small id="emailHelp" class="form-text text-muted">Enter here the title or your article.</small>
                </div>
                <div class="form-group">
                    <label for="postText">Text of article</label>
                    <textarea name="Post[text]" class="form-control" id="postText" cols="30" rows="10">{{ post.text }}</textarea>
                </div>
                <hr>
                <div class="form-group">
                    <label for="authorFirstName">Author firstname</label>
                    <input name="Post[author][firstname]" type="text" class="form-control" id="authorFirstName"
                       placeholder="Author firstname" value="{{ post.author.firstname}}">
                </div>
                <div class="form-group">
                    <label for="authorLastName">Author lastname</label>
                    <input name="Post[author][lastname]" type="text" class="form-control" id="authorLastName"
                           placeholder="Author firstname" value="{{ post.author.lastname}}">
                </div>
                <button type="submit" class="btn btn-primary">Save article</button>
                <button type="button" class="btn" id="prevBtn">Cancel</button>
            </form>
        </div>
    </div>
    <script>
        document.querySelector('#prevBtn').addEventListener('click', function() {
            window.location = '/admin';
        });
    </script>
{% endblock %}