{% extends "layouts/main.html.twig" %}

{% block content %}
    <ol class="breadcrumb" style="margin-top: 1rem">
        <li class="breadcrumb-item">Admin Panel</li>
        <li class="breadcrumb-item active">All posts</li>
    </ol>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">You're in Admin Panel!</h1>
            <p><a class="btn btn-success btn-lg" href="/admin/new-post" role="button">Add new post &raquo;</a></p>
        </div>
    </div>

    {% for post in posts %}
        <div class="card" style="margin-bottom: 1rem;">
            <h6 class="card-header">
                <a href="admin/edit-post/{{post.id}}">Post #{{ post.id }}</a>
            </h6>
            <div class="card-block">
                <h4 class="card-title">{{ post.title }}</h4>
                <p class="card-text">{{ post.text }}</p>
                <a href="admin/edit-post/{{post.id}}" class="btn btn-primary">Edit</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}