<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/cover.css">
    <title>Sign in</title>
    <!-- Bootstrap CSS -->
</head>
<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Everkit Framework &mdash; Admin Panel</h3>
                    <nav class="nav nav-masthead">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link" href="/posts">All posts</a>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                {% include "flashes.html.twig" %}
                <form method="post">
                    {{ csrfToken()|raw }}
                    <div class="form-group row">
                        <label for="login" class="col-sm-2 col-form-label">Login</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="LoginForm[login]" id="login" placeholder="login">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="LoginForm[password]" id="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="text-center" style="width: 100%">
                            <button class="btn btn-lg btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    &copy; Everkit Framework 2017
                </div>
            </div>

        </div>

    </div>

</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
</body>
</html>